
/* ================ VARIABLES ================ */
:root {
  --fc-p-red: hsl(12, 88%, 59%);
  --fc-p-blue: hsl(228, 39%, 23%);
  --fc-s-gray-blue: hsl(227, 12%, 61%);
  --fc-s-dark-blue: hsl(233, 12%, 13%);
  --fc-s-pale-red: hsl(13, 100%, 96%);
  --fc-s-light-gray: hsl(0, 0%, 98%);
  --ff: 'Be Vietnam Pro', sans-serif;
  --fw-light: 400;
  --fw-nomal: 500;
  --fw-bold: 700;
  --l-content-margin: 10%;
}



/* ========== COMMON SETTINS ========== */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  /* outline: solid; */
}

body {
  background-color: white;
  font-family: var(--ff);
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.text-secondary {
  color: var(--fc-s-gray-blue);
}

h2 {
  color: var(--fc-p-blue);
  font-size: 2rem;
}

/* ================ HEADER ================ */

header,
.desc-section,
.features-section,
.testimonials-section {
  margin: 50px var(--l-content-margin);
}

header {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: var(--fw-bold);
}
.nav {
  flex-grow: 1;
  min-width: 350px;
}
.nav-ul{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 5%;
}
.nav-link {
  color: var(--fc-p-blue);
}
.nav-link:hover {
  color: var(--fc-s-gray-blue);
}

.gs-button,
.feature-num {
  height: 40px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: var(--fc-p-red);
  font-family: var(--ff);
}
.gs-button {
  width: 140px;
  filter: drop-shadow(0 10px 6px rgba(0,0,0,0.15))
}

.header-logo-c {
  margin-top: 5px;
}

.bg-pattern {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  overflow: hidden;
  transform: translateY(-200px);
  z-index: -1;
}

/* ================ DESCRIPTION SECTION ================ */

.desc-section,
.features-section  {
  display: flex;
  margin-top: 100px;
  gap: 5%;
}
.desc-container,
.desc-imgs-container {
  flex-basis: 50%;
}
.desc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.desc-heading {
  color: var(--fc-p-blue);
  font-size: 3rem;
}
.desc-container p {
  padding-right: 30%;
}
.desc-imgs-container {
  display: flex;
  align-items: center;
}
.desc-imgs {
  width: 100%;
}
/* ================ FEATURES SECTION ================ */
.features-desc,
.features-list {
  flex-basis: 50%;
}

.features-desc > p {
  margin-top: 30px;
  padding-right: 30%;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.feature {
  display: flex;
  gap: 10px;
}

.feature-num {
  background-color: var(--fc-p-red);
  width: 70px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-desc > h3 {
  margin-top: 10px;
}
.feature-desc > p {
  margin-top: 30px;
}

/* ================ TESTIMONIALS SECTION ================ */

.testimonials-section > h2 {
  text-align: center;
}
.testimonials-container {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.testimonial {
  background-color: var(--fc-s-light-gray);
  position: relative;
  padding: 80px 30px 30px;
  margin-top: 80px;
  text-align: center;
}
.testimonial > img {
  width: 60px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quote {
  white-space: pre-line;
}
.quote::before {
  content: "“";
}
.quote::after {
  content: "”"
}
.gs-testimonials {
  margin: 50px auto;
  text-align: center;
}
/* ================ CTA SECTION ================ */
.simplify-cta {
  display: flex;
  background-image: url('images/bg-simplify-section-desktop.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  align-items: center;
  margin-top: 100px;
  padding: 50px var(--l-content-margin);
  background-color: var(--fc-p-red);

}
.simplify-cta h2 {
  color: white;
}
.spacer {
  flex-grow: 1;
}

.simplify-cta .gs-button {
  color: var(--fc-p-red);
  background-color: white;
}

/* ================ FOOTER ================ */
footer {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px var(--l-content-margin);
}
.footer-logo {
  color: white;
}
.footer-social {
  display: flex;
  justify-content: space-between;
}
.icon-social:hover {
  cursor: pointer;
}
.footer-images {
  display: flex;
  flex-direction: column;
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  font-size: 0.8rem;
  font-weight: var(--fw-light);
}
.footer-nav-list a {
  color: white;
}
.footer-nav-list a:hover {
  color: var(--fc-p-red);
}
.footer-inbox-rights {
  display: flex;
  flex-direction: column;
}
.input-email {
  height: 40px;
  border-radius: 20px;
  padding-left: 10px;
  width: 220px;
}
.footer-inbox-rights .gs-button {
  width: 60px;
}

.copyright {
  font-size: 0.8rem;
  text-align: right;
}

button:hover {
  filter: brightness(150%);
  cursor: pointer;
}
/* ================ MEDIA ================ */
@media only screen and (max-width: 375px) {
  header {
    flex-direction: column;
    /* background-color: black; */
  }
}