*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  /* outline: solid; */
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
}

.container {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  flex-direction: column;
}

.seach_form {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 550px;
  margin-top: 3rem;
  border-radius: 40px;
  padding: 10px 20px 13px 20px;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

.search__magnifier {
  width: 20px;
  margin-top: 2px;
}

.search__input {
  border: none;
  outline: none;
  flex-grow: 1;
}

.shortcuts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: .1rem;
  margin-top: 2rem;
}

.shortcut {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}
.shortcut:hover {
  background-color: hsl(240, 2%, 91%);

}

.shortcut__icon_container {
  background-color: hsl(200, 12%, 95%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}
.shortcut__icon {
  width: 24px;
}
.shortcut__name {
  margin-top: 1rem;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}

.menu {
  display: flex;
  align-items: center;
}
.gb_Ve {
  width: 24px;
  color: gray;
}
.profile {
  border-radius: 50%;
}
.header {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  font-size: 13px;
  letter-spacing: 0;
  color: rgba(0,0,0,.87);
}
.text_link:hover {
  text-decoration: underline;
}
.img_link {
  position: relative;
}
.img_link:hover::after {
  content: "";
  width: 40px;
  height: 40px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: hsl(0, 0%, 94%);
  border-radius: 50%;
}


.apps_menu {
  position: absolute;
  right: 1rem;
  visibility: hidden;
  width: 300px;
  height: 400px;
  box-shadow: 0 1px 8px rgba(0,0,0,.35);
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(auto-fit, 80px); */
  column-gap: .5rem;
  row-gap: .5rem;
  padding: 1.5rem;
  overflow-y: scroll;
  border-radius: 8px;
}

.apps_menu::-webkit-scrollbar {
  width: .5rem;
  border-radius: .5rem;
  background-color: white;
}
.apps_menu::-webkit-scrollbar-thumb {
  background-color: #DADCE0;
  border-radius: .5rem;
}

.apps_menu.active {
  visibility: visible;
}

.app {
  text-align: center;
  cursor: pointer;
  padding: 5px;
}
.app:hover {
  background-color: #E8F0FE;
  border-radius: 5px;
}
.app__img {
  margin-inline: auto;
  width: 35px;
  margin-bottom: 5px;
}
.customize {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 20px;
  font-size: 13px;
  padding: 5px 13px 9px 16px;
  color: blue;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  cursor: pointer;
}
.customize__pencil {
  margin-top: 2px;
  width: 15px;
  background-color: blue;
  -webkit-mask-image: url(img/icon_pencil.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  font-family: Roboto;
  width: 16px;
  height: 16px;
}
.customize:hover {
  background-color: #F8FAFF;
}