*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --bgc: #EEF1F9;
  --bgc-light: #F8F9FB;
  --bgc-emphasize: #641BFF;
  --bgc-dark: #000;
  --popular-outstand-size: 20px;
  --font-heading: 'Poppins', sans-serif;
  --font-main: 'Lato', sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bgc-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-table{
  max-width: 700px;
  max-height: 400px;
  width: 70%;
  height: 70%;
  display: flex;

}
.price-column {
  flex-grow: 1;
  position: relative;
  background-color: white;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
  padding: 40px 20px;
  border-radius: 5px;
}
.price-column:first-of-type{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.price-column:last-of-type{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.price-column.popular{
  margin-top: calc(-1 * var(--popular-outstand-size));
  margin-bottom: calc(-1 * var(--popular-outstand-size));;
  padding-top: calc(40px + var(--popular-outstand-size));
  background-color: var(--bgc-emphasize);
  box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
  z-index: 1;
  color: white;
}
.popular-sign{
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.8rem;
}
.price-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-heading);
  font-weight: bold;
  text-transform: uppercase;
}
.price{
  display: flex;
  font-size: 3rem;
  position: relative;
}
.price-currency{
  font-size: 1.4rem;
  margin-top: 0.5rem;

}
.price-period{
  font-size: 0.7rem;
  align-self: flex-end;
  margin-bottom: 1rem;
}
.divider{
  width: 100%;
  height: 1px;
  margin: 20px auto;
  background-color: rgba(0,0,0,0.1);
}
.price-column.popular .divider{
  background-color: rgba(255,255,255,0.2);
}
.price-features{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 0.5rem;
}
.price-feature {
  font-family: var(--font-main);
  display: flex;
  gap: 0.4em;
}
.price-feature.inactive{
  color: #999;
  text-decoration: line-through;
  font-family: var(--font-main);
  /* white-space: nowrap; */
}
.price-feature img{
  height: 1em;
}
.price-button{
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border: none;
  color: white;
  background-color: var(--bgc-emphasize);
  padding: 0.7rem 2rem;
  margin-top: 80px;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.2s;
  cursor:pointer;
}
.price-column.popular .price-button{
  color: var(--bgc-emphasize);
  background-color: white;
  bottom: calc(20px + var(--popular-outstand-size));
}
.price-button:hover, .price-button:active {
  transform: scale(1.1);
}