*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  /* outline: solid; */
}
:root {
--w-mobile: 375px;
--w-desktop: 1440px;
--c-primary-cyan: hsl(158, 36%, 37%);
--c-primary-cream: hsl(30, 38%, 92%);
--c-neutral-blue-dark: hsl(212, 21%, 14%);
--c-neutral-blue-gray: hsl(228, 12%, 48%);

--ff-header: Fraunces;
--ff-paragraph: Montserrat;
}

body {
  background-color: #F3EAE3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-card {
  max-width: 600px;
  max-height: 400px;
  background-color: #fff;
  display: flex;
  border-radius: 5px;
}

.product-preview {
  width: 50%;
}
.product-details,
.product-preview {
  flex-basis: 50%;
}

.product-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.product-details {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
}

.product-type {
  text-transform: uppercase;
  font-family: var(--ff-paragraph);
  color: var(--c-primary-cyan);
  letter-spacing: 4px;
  font-size: 0.8rem;
}
.product-name {
  font-weight: 700;
  font-size: 2rem;
  font-family: var(--ff-header);
  color: var(c-neutral-blue-dark);
}
.product-desc {
  font-family: var(--ff-paragraph);
  color: var(--c-primary-cyan);
  font-size: 0.8rem;
  line-height: 1.5;
}
.product-price {
  color: var(--c-primary-cyan);
  font-family: var(--ff-header);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-price {
  font-size: 2rem;
}
.original-price {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: var(--ff-paragraph);
  text-decoration: line-through;
  vertical-align: middle;
}
.add-to-cart {
  border: none;
  color: white;
  font-family: var(--ff-paragraph);
  font-size: 0.8rem;
  background-color: var(--c-primary-cyan);
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.add-to-cart:hover {
  cursor: pointer;
  background-color: var(--c-neutral-blue-dark);
}
.add-to-cart img {
  height: 0.9em;
}

@media screen and (max-width: 375px) {
  .product-card {
    flex-direction: column;
    max-width: 350px;
    max-height: none;
  }
  .product-details {
    flex-basis: 70%;
    gap: 1rem;
  }
  .product-preview {
    flex-basis: 30%;
    width: 100%;
    height: 30%;
  }
  .product-image {
    object-fit: cover;
    max-height: 280px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
  }
}