.section_coaches {
  display: flex;
  flex-direction: column;
  margin-top: var(--section-gap);
}

.coaches__carousel {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  row-gap: 40px;
}

.carousel__content {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.carousel__item {
  display: flex;
  gap: 50px;
}

.carousel__item:not([data-active]) {
  display: none;
}

.coach__photo {
  flex-basis: 50%;
  height: 500px;
}
.coach__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

.coach__desc {
  flex-basis: 40%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.coach__name {
  position: relative;
  text-align: center;
}
.coach__underline {
  position: relative;
  z-index: -1;
  /* left: -130px; */
  /* bottom: -12px; */
  width: 310px;
  margin: -8px auto;
}

.carousel__right,
.carousel_left {
  position: relative;
  cursor: pointer;
  margin: 0;
  transition: margin-top 0.5s;
}

.carousel__right:hover
.carousel_left:hover {
  margin-top: 10px;
  transition: margin-top 0.5s;
}

.carousel__left_gold,
.carousel__left_black,
.carousel__right_gold,
.carousel__right_black {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel__right_gold,
.carousel__left_gold {
  top: 51%;
}

.carousel__dots {
  display: flex;
  gap: 20px;
  justify-content: center;
  grid-column: 1/4;
}