
.header__logo,
.header__nav {
  display: block;
}

.header {
  text-align: right;
}

.nav__item {
  display: inline-block;
  padding: 15px;
}
.nav__item:last-of-type {
  padding-right: 0;
}

.header__menu-icon {
  display: none;
}
.header__logo {
  height: 100%;
  float: left;
}
.header__menu-icon_open,
.header__menu-icon_close {
  display: none;
}

@media screen and (max-width: 375px) {
  .header {
    overflow: hidden;
    text-align: left;
  }
  .nav__item {
    display: block;
  }
  .header__menu-icon_open,
  .header__menu-icon_close {
    display: block;
  }
  .header__menu-icon_open {
    float: right;
    margin-top: 10px;
  }
  .nav__curtain {
    position: absolute;
    right: 0;
    transform: translateX(100%);
  }
}