*, *::before, *::after {
  box-sizing: border-box;
  font: inherit;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
img {
  display: block;
}

body {
  margin: 0;
}

.videos {
  background-color: #F9F9F9;
  overflow: hidden;
}

.videos__section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
  border-top: 4px solid #CCC;
}

.videos__section:first-child {
  border-top: none;
}

.video__container {
  display: flex;
  flex-direction: column;
}

.video__thumbnail {
  position: relative;
  display: block;
  width: 100%;
  min-width: 250px;
  min-height: 150px;
  background-color: #AAA;
  flex-grow: 1;
}

.thumbnail__img {
  width: 100%;
}
.video__thumbnail::after {
  content: attr(data-duration);
  color: white;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: .1em .3em;
  border-radius: .3em;
  font-size: .9rem;
}

.video__bottom {
  display: flex;
  margin-top: 0.5rem;
}
.channel__img {
  border-radius: 50%;
  margin-right: 0.5rem;
}

.video__details {
  display: flex;
  flex-direction: column;
}

.video__title {
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.video__channel-name {
  margin-top: 0.5rem;
  text-decoration: none;
  transition: color 250ms;
}
.video__channel-name:hover {
  color: #111;
}
.video__meta {
  margin-top: 0.2rem;
}
.video__channel-name ,
.video__meta {
  color: #555;
  font-size: 0.8rem;
}

.section__title {
  grid-column: 1 / -1;
  font-size: 2rem;
  margin: -0.5rem 0.5rem;
}
.section__button_close {
  float:right;
  border: none;
  color: #555;
  background: none;
  cursor: pointer;
}

.category__section {
  display: flex; 
  gap: 1rem;
  padding: 1rem 2rem;
  overflow: hidden;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
.category__btn {
  border-radius: 1rem;
  border: 1px solid #CCC;
  background-color: #E7E7E7;
  padding: 0.5rem 1rem;
  white-space: pre;
  cursor: pointer;
  font-size: inherit;
  transition: background-color;
}
.category__btn:hover {
  background-color: #DDD;
}

.category__btn.active {
  background-color: #666;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header__search {
  flex-grow: 1;
  display: flex;
  margin: 0 2rem 0 4rem;
}

.search__input {
  width: 100%;
  border-radius: 0;
  border: 1px solid gray;
  padding: 0.4rem;
}

.header__logo {
  height: 20px;
}

.header__icons {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, auto);
  gap: 1.5rem;
  align-items: center;
}
.search__btn {
  border: 1px solid gray;
  border-left: none;
  background-color: #F8F8F8;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__btn:hover {
  background-color: #DDD;
}
